html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background: #e8f1f5; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****************************************************/
/***************** end of CSS reset *****************/
/****************************************************/


/*****************************/
/***** MAIN PAGE STYLING *****/
/*****************************/

.splash {
  background: #e8f1f5; 
  height: 100%; 
}

.title {
    font-family: 'Literata', serif;
    font-size: 4.5rem; 
    font-weight: bold; 
    color: 	#005691; 
    text-align: center; 
    padding: 1rem; 
    margin-top: 5rem; 
}

.title-speech-bubble {
  font-size: 12rem;  
  margin-left: 1rem; 
}

/*****************************/
/****** NAV BAR STYLING ******/
/*****************************/

.navbar {
  background: #005691; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 45px; 
}

.navbar-fullscreen-tab {
  display: flex; 
}

.navbar-title {
  font-family: 'Literata', serif;
  font-size: 1.75rem; 
  font-weight: bold; 
  color: 	white; 
  text-align: center; 
  padding: 1rem; 
}

.navbar-username {
  color: #a40000; 
  font-family: 'Raleway', sans-serif; 
  margin-left: 1rem; 
  font-size: 1.2rem; 
  font-weight: bold; 
}

.navbar-signup-button {
    background-color: #005691; 
    color: white; 
    border: 2px solid #005691; 
    border-radius: 15px; 
    font-size: 1.2rem; 
    font-family: 'Raleway', sans-serif;
    padding: 0.35rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    font-weight: bold; 
}

.navbar-signin-button {
    color: #005691; 
    border: 2px solid #005691; 
    border-radius: 15px; 
    font-size: 1.2rem; 
    font-family: 'Raleway', sans-serif;
    padding: 0.35rem; 
    padding-left: 1.3rem; 
    padding-right: 1.3rem; 
    font-weight: bold; 
    background-color: white; 
}

.navbar-logout-button {
  color: white; 
  border: 2px solid #005691; 
  font-size: 1rem; 
  margin-top: 1.2rem; 
  margin-bottom: 1.2rem; 
  font-family: 'Raleway', sans-serif;
  padding-left: 1.2rem; 
  padding-right: 1.2rem; 
  font-weight: bold; 
  background: #a40000; 
  margin-right: 1rem; 
  margin-left: 1rem; 
  border-radius: 5px; 
}

.navbar-logout-button:hover {
  margin-top: 1.2rem; 
  margin-bottom: 1.2rem; 
  background:#c42626; 
  cursor: pointer; 
}

.navbar-logout-button:focus {
  outline: none; 
}


.navbar-header-link {
  color: white;  
  font-family: 'Raleway', sans-serif;
  padding-top: 1rem;  
  padding-bottom: 1rem; 
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  border-radius: 15px 15px 0px 0px; 
}

.navbar-header-link-hover {
  background: #e8f1f5;
  color: black; 
  padding-top: 1rem;  
  padding-bottom: 1rem; 
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  border-radius: 15px 15px 0px 0px; 
  font-family: 'Raleway', sans-serif;
}

.navbar-header-link:hover {
  background: #e8f1f5;
  color: black; 
  padding-top: 1rem;  
  padding-bottom: 1rem; 
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  border-radius: 15px 15px 0px 0px; 
  font-family: 'Raleway', sans-serif;
}

a {
  color: 	white; 
  text-decoration: none; 
}


/*****************************/
/******* FOOTER STYLING ******/
/*****************************/

.footer {
  position: fixed; 
  bottom: 0px; 
  background: black;  
  color: white; 
  font-family: 'Raleway', sans-serif;
  display: flex; 
  justify-content: flex-end; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  width: 100%; 
  margin-top: 1000px; 
  box-sizing: border-box; 
}

.login-form-selector2 {
  background: #e8f1f5; 
  color: slategray; 
  outline: none; 
  border: none; 
  font-size: 1rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  margin-bottom: 0.5rem; 
  font-family: 'Raleway', sans-serif; 
  border-radius: 15px; 
}

.login-form-selector2:hover {
  cursor: pointer; 
  background: #005691; 
  color: white; 
  outline: none; 
  border: none; 
  font-size: 1rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  margin-bottom: 0.5rem; 
  font-family: 'Raleway', sans-serif; 
  border-radius: 15px; 
}

.login-form-container2 {
  text-align: center; 
  margin: 0 auto;
  margin-top: 3rem; 
  margin-bottom: 5rem; 
  padding-top: 0.5rem;
  padding-bottom: 2rem; 
  padding-left: 1.5rem; 
  padding-right: 1.5rem; 
}

.login-form-submit2 {
  background: #005691; 
  color: white; 
  font-family: 'Raleway', sans-serif;
  padding: 1rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;  
  font-size: 1.5rem; 
  border: none; 
  display: block; 
  text-align: center; 
  margin: 0 auto; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
}

.login-form-submit2:hover {
  background: #1a85cc; 
  border: none; 
  cursor: pointer; 
}

.login-form-submit2:focus {
  outline: none; 
}

/*****************************/
/******* SIGNUP STYLING ******/
/*****************************/

.login-form-container {
  text-align: center; 
  background: #fafafa; 
  width: 400px; 
  margin: 0 auto;
  margin-top: 3rem; 
  margin-bottom: 5rem; 
  padding-top: 0.5rem;
  padding-bottom: 2rem; 
  padding-left: 1.5rem; 
  padding-right: 1.5rem; 
  box-shadow: 0px 1px 20px rgb(206, 206, 206); 
}

.login-form-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem; 
  margin-top: 2rem; 
  margin-bottom: 1rem; 
}

.login-form-tagline {
  font-family: Arial, Helvetica, sans-serif; 
  color: slategray; 
  font-size: 0.8rem; 
  margin-bottom: 0.1rem; 
}

.login-form-text-input {
  width: 225px; 
  background-color: #e8f1f5; 
  border: none; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  margin-bottom: 0.5rem; 
  font-size: 1rem; 
  border-radius: 15px; 
  font-family: 'Raleway', sans-serif;
}

.login-form-text-input-done {
  width: 225px; 
  background-color: #005691; 
  color: white; 
  border: none; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  margin-bottom: 0.5rem; 
  font-size: 1rem; 
  border-radius: 15px; 
  font-family: 'Raleway', sans-serif;
}

.login-form-text-input-done:focus {
  outline: none; 
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.need-help-learn {
  color: #005691; 
}

.need-help-learn:hover {
  cursor: pointer; 
}

.need-help-share {
  color: #f65026; 
}

.need-help-share:hover {
  cursor: pointer; 
}

.popup-1 {
  position: absolute; 
  z-index: 1; 
  transform: translate(325px); 
  background: #f8c9bd; 
  border-radius: 10px; 
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem; 
  padding: 0.75rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  box-shadow: 0px 1px 20px rgb(206, 206, 206); 
  width: 175px; 
  text-align: left; 
}

.popup-2 {
  position: absolute; 
  z-index: 1; 
  transform: translate(325px); 
  background: #e8f1f5; 
  border-radius: 10px; 
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem; 
  padding: 0.75rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  box-shadow: 0px 1px 20px rgb(206, 206, 206); 
  width: 175px; 
  text-align: left; 
}

.login-form-language {
  width: 250px; 
  font-family: 'Raleway', sans-serif;
  text-align: left; 
  display: flex; 
  transform: translateX(50px); 
  flex-direction: row; 
  justify-content: space-between; 
}

.login-form-text-input:focus {
  outline: none; 
  background: #005691; 
  color: #fafafa; 
}

.login-form-submit {
  background: #005691; 
  color: white; 
  font-family: 'Raleway', sans-serif;
  padding: 1rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;  
  font-size: 1.5rem; 
  border: none; 
  display: block; 
  text-align: center; 
  margin: 0 auto; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
}

.signup-form-submit {
  background: #f65026; 
  color: white; 
  font-family: 'Raleway', sans-serif;
  padding: 1rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;  
  font-size: 1.5rem; 
  border: none; 
  display: block; 
  text-align: center; 
  margin: 0 auto; 
  margin-top: 1rem; 
  margin-bottom: 2rem; 
}

.login-form-submit:hover {
  background: #1a85cc; 
  border: none; 
  cursor: pointer; 
}

.login-form-submit:focus {
  outline: none; 
}

.signup-form-submit:hover {
  background: #ed6e4e; 
  border: none; 
  cursor: pointer; 
}

.languages {
  text-align: left; 
  transform: translateX(50px); 
  font-family: 'Literata', serif;
  margin-top: 0.5rem; 
  margin-bottom: 0.35rem; 
}

.login-form-selector {
  background: #e8f1f5; 
  color: slategray; 
  outline: none; 
  border: none; 
  font-size: 1rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  margin-bottom: 0.5rem; 
  font-family: 'Raleway', sans-serif; 
  border-radius: 15px; 
}

.login-form-selector-language {
  background: #f8c9bd; 
  color: slategray; 
  outline: none; 
  border: none; 
  font-size: 1rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
  margin-top: 0.1rem;  
  margin-bottom: 0.5rem; 
  font-family: 'Raleway', sans-serif; 
  border-radius: 15px; 
  font-weight: bold; 
  width: 255px; 
}

.learn-emphasis {
  font-weight: bold; 
  color: #005691; 
}

.share-emphasis {
  font-weight: bold; 
  color: #f65026; 
}


.login-form-selector:focus {
  outline: none; 
}

/* .login-form-text {
  font-family: Arial, Helvetica, sans-serif; 
  align-items: center; 
  margin-top: 0; 
  margin-bottom: 0; 
} */


.login-form-agreement {
  font-family: Arial, Helvetica, sans-serif; 
  color: slategray;  
  font-size: 0.8rem; 
  margin-top: 1rem;
  padding-left: 2rem; 
  padding-right: 2rem;  
}

.login-links {
  margin-top: 1rem; 
  font-family: Arial, Helvetica, sans-serif; 
}
.login-link-to-signin {
  color: #004a7c; 
}
.terms-conditions {
    color: #004a7c; 

}

.login-form-speech-bubble-container {
  margin: 0 auto; 
  text-align: center; 
  margin-top: 1rem; 
}
.login-form-speech-bubble {
  font-size: 8rem;  
  color: #005691; 
}


/*****************************/
/******** PROFILE PAGE  ******/
/*****************************/
.edit-languages-button {
  border: none; 
  font-family: 'Raleway', sans-serif; 
  font-size: 1.1rem; 
  float: right; 
  background: #005691; 
  color: white;
  margin-top: 0.5rem;  
  padding-top: 0.15rem; 
  padding-bottom: 0.15rem; 
}

.edit-languages-button:hover {
  background: #1a85cc; 
  cursor: pointer; 
}

.edit-languages-button:focus {
  outline: none; 
}

.profile-page {
  padding: 3rem; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
}

.profile-card {
  width: 300px; 
}

.profile-description {
  padding-top: 1rem; 
  padding-bottom: 1rem; 
}

.profile-snippet {
  font-family: 'Raleway', sans-serif; 
  margin-top: 0.35rem; 
  margin-bottom: 0.35rem; 
  display: flex; 
  justify-content: space-between; 
}

.profile-snippet-name {
  font-weight: bold; 
}

/********************************/
/******** CHAT USERS PAGE  ******/
/********************************/


.users-grid {
  display: inline;  
  margin: 0 auto; 
}

.chat-users-filters {
  font-family: 'Raleway', sans-serif; 
  text-align: left; 
  padding-bottom: 0.5rem; 
}

.chat-users-nousers {
  padding-top: 1rem; 
  font-family: 'Raleway', sans-serif; 
}

.chat-users-search-icon {
  color: #005691; 
  padding-right: 0.35rem; 
  font-size: 1.2rem; 
}

.chat-users-searchbar {
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  width: 50%; 
  font-size: 1rem; 
  font-family: 'Raleway', sans-serif; 
  border-radius: 15px; 
  border: 0px; 
  box-sizing: border-box; 
}

.chat-users-searchbar:focus {
  outline: none; 
  border: 1px solid #005691; 
  box-sizing: border-box; 
}

.chat-users-advanced {
  border: 1px solid #005691; 
  border-radius: 5px; 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  padding-top: 1rem; 
  padding-bottom: 1rem; 
  padding-left: 1.5rem; 
  padding-right: 1.5rem; 
  display: flex; 
  flex-direction: column; 
}

.chat-users-selector-language {
  color: white; 
  background: #005691; 
  outline: none; 
  border: none; 
  font-size: 1rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
  margin-top: 0.1rem;  
  margin-bottom: 0.5rem; 
  font-family: 'Raleway', sans-serif; 
  border-radius: 15px; 
  font-weight: bold; 
  width: 255px; 
}

.chat-users-page {
  padding: 3rem; 
  text-align: center; 
}

.chat-users-name {
  margin: 0 auto; 
  display: block; 
}

.chat-users-item {
  font-family: 'Raleway', sans-serif; 
  display: inline-block;  
  width: 200px; 
  height: 200px; 
  margin-left: 10px; 
  margin-right: 10px; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 0.5rem; 
  border: 1px solid #005691; 
  background: #005691; 
  color: white; 
  border-radius: 15px; 
  padding: 0.5rem; 
}

.chat-users-item-pulsing {
  font-family: 'Raleway', sans-serif; 
  display: inline-block;  
  width: 200px; 
  height: 200px; 
  margin-left: 10px; 
  margin-right: 10px; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 0.5rem; 
  border: 1px solid #005691; 
  background: #005691; 
  color: white; 
  border-radius: 15px; 
  padding: 0.5rem; 
  animation: pulse 2s infinite; 
}

.chat-users-item2 {
  font-family: 'Raleway', sans-serif; 
  display: inline-block; 
  width: 200px; 
  height: 200px; 
  margin-left: 10px; 
  margin-right: 10px; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 0.5rem; 
  border: 1px solid #c42626; 
  background: #a40000; 
  color: white; 
  border-radius: 15px; 
  padding: 0.5rem; 
}

.chat-users-item2-pulsing {
  font-family: 'Raleway', sans-serif; 
  display: inline-block; 
  width: 200px; 
  height: 200px; 
  margin-left: 10px; 
  margin-right: 10px; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 0.5rem; 
  border: 1px solid #c42626; 
  background: #a40000; 
  color: white; 
  border-radius: 15px; 
  padding: 0.5rem; 
  animation: pulse 2s infinite; 
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.95); }
  to { transform: scale(1); }
}

.chat-users-item:hover {
  background: #1a85cc; 
  cursor: pointer; 
}

.chat-users-item2:hover {
  background: #c75d5d; 
  cursor: pointer; 
}


.chat-users-active-language {
  color: #a73d3d; 
  font-weight: bold; 
}

.chat-users-digit-default {
  color: #005691; 
  font-weight: bold; 
}

.chat-users-digit {
  color: #a73d3d; 
  font-weight: bold; 
}

.chat-users-profile-image {
  border-radius: 5px; 
  display: block; 
  height: 95px; 
  width: 95px; 
  margin: 0 auto; 
}

.chat-users-profile-handle {
  font-weight: bold; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin-bottom: 0.25rem; 
}

.chat-users-right {
  display: flex; 
  direction: column; 
}

.chat-users-language-pref {
  display: flex; 
  justify-content: space-between; 
  flex-direction: column; 
  text-align: right; 
  padding-top: 0.5rem; 
  width: 100%; 
}

.chat-users-start-convo-button, .chat-users-start-convo-button2 {
    background-color: transparent; 
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding-left: 0.85rem; 
    padding-right: 0.85rem; 
    font-size: 1rem; 
    font-family: 'Raleway', sans-serif;
    font-weight: bold; 
}


.chat-users-start-convo-button:hover {
    border: none; 
    background-color: #1a85cc; 
    cursor: pointer; 
}

.chat-users-start-convo-button2:hover {
    border: none; 
    background-color: #f3795b; 
    cursor: pointer; 
}


.chat-users-start-convo-button:focus {
  outline: none; 
  border: none; 
  cursor: pointer; 
}

.chat-users-tags {
  background: #e8f1f5;
  color: black;  
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  padding-top: 0.1rem; 
  padding-bottom: 0.1rem; 
  border-radius: 10px; 
  margin-left: 1rem; 
}

.chat-users-tags2 {
  background: #fcdcdc;
  color: black;  
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  padding-top: 0.1rem; 
  padding-bottom: 0.1rem; 
  border-radius: 10px; 
  margin-left: 1rem; 
}

.chat-users-learning {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin-top: 0.1rem; 
  margin-bottom: 0.1rem; 
}

.chat-users-speaking {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin-top: 0.1rem; 
  margin-bottom: 0.1rem; 
}

.chat-users-number {
  font-size: 1rem; 
  font-family:  'Raleway', sans-serif;
  margin-bottom: 1rem; 
  text-align: left; 
}

/********************************/
/*********** CHAT BOX  **********/
/********************************/

.chat-box {
  padding: 2rem;
  background: #e8f1f5; 
  margin-bottom: 2rem; 
}

.chat-box-display-container {
  background: white; 
  height: 65vh; 
  padding: 1rem; 
  border-radius: 15px; 
  overflow-y: scroll; 
  width: 100%; 
}

.chat-box-message {
  background: white; 
  display: block; 
  /* float: left; 
  clear: left; 
  position: relative;  */
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  margin-bottom: 0.1rem; 
  margin-top: 0.1rem; 
  font-family: Arial, Helvetica, sans-serif; 
  border-radius: 10px; 
}

.chat-box-message-opponent {
  background: white; 
  display: inline-block; 
  float: right; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  margin-bottom: 0.1rem; 
  margin-top: 0.1rem; 
  font-family: Arial, Helvetica, sans-serif; 
  border-radius: 10px; 
}


.chat-box-message-detail {
  font-size: 1rem;  
  border: none; 
  background: #e8f1f5; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.15rem; 
  padding-right: 0.15rem; 
  margin-bottom: 0.25rem; 
}

.chat-box-message-detail-round-left {
  font-size: 1rem;  
  border: none; 
  background: #e8f1f5; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.5rem; 
  padding-right: 0.25rem; 
  margin-bottom: 0.25rem; 
  border-radius: 10px 0px 0px 10px; 
}

.chat-box-message-detail-round-right {
  font-size: 1rem;  
  border: none; 
  background: #e8f1f5; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.25rem; 
  padding-right: 0.5rem; 
  margin-bottom: 0.25rem; 
  border-radius: 0px 10px 10px 0px; 
}

.chat-box-message-detail-round-center {
  font-size: 1rem;  
  border: none; 
  background: #e8f1f5; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  margin-bottom: 0.25rem; 
  border-radius: 10px; 
}

.chat-box-message-detail:hover {
  background: #005691; 
  color: white; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.15rem; 
  padding-right: 0.15rem;  
  border-radius: 10px; 
  margin-bottom: 0.25rem; 
  cursor: pointer; 
}

.chat-box-message-detail-round-left:hover {
  background: #005691; 
  color: white; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.5rem; 
  padding-right: 0.25rem;  
  border-radius: 10px; 
  margin-bottom: 0.25rem; 
  cursor: pointer; 
}

.chat-box-message-detail-round-right:hover {
  background: #005691; 
  color: white; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.25rem; 
  padding-right: 0.5rem; 
  border-radius: 10px; 
  margin-bottom: 0.25rem; 
  cursor: pointer; 
}

.chat-box-message-detail-round-center:hover {
  background: #005691; 
  color: white; 
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  border-radius: 10px; 
  margin-bottom: 0.25rem; 
  cursor: pointer; 
}

.chat-box-message-detail:focus {
  outline: none; 
}

.chat-box-message-detail-round-left:focus {
  outline: none; 
}

.chat-box-message-detail-round-right:focus {
  outline: none; 
}

.chat-box-message-detail-round-center:focus {
  outline: none; 
}

.chat-box-form {
  display: flex; 
  justify-content: space-between; 
}

.chat-box-submit {
  width: 100%; 
  margin-top: 0.75rem; 
  border-radius: 10px; 
  box-sizing: border-box; 
  font-size: 1.1rem; 
  border: none; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.35rem; 
  padding-bottom: 0.35rem; 
  text-align: right; 
}

.chat-box-submit:focus {
  background: #005691; 
  color: white; 
}

.chat-box-submit:focus {
  outline: none; 
}

.chat-box-gif-menu {
  position: absolute; 
  width: 200px; 
  height: 200px; 
  overflow-y: scroll; 
  bottom: 55px; 
  right: 10px; 
  padding-bottom: 0.5rem; 
  background: #e8f1f5; 
  border-radius: 15px; 
}

.chat-box-emoji-menu {
  position: absolute; 
  width: 200px; 
  height: 200px; 
  overflow-y: scroll; 
  bottom: 55px; 
  right: 10px; 
  padding-bottom: 0.5rem; 
  background: #e8f1f5; 
  border-radius: 15px; 
}

.emoji-icon {
  border: none; 
  background: transparent; 
  font-size: 1.3rem; 
}

.emoji-icon:hover {
  background: #e8f1f5;
  border: none; 
}

.emoji-icon:focus {
  outline: none; 
}

.chat-box-trigger-emoji-list-button {
  border: none; 
  background: #e8f1f5; 
  font-size: 1.4rem;
}

.chat-box-trigger-emoji-list-button:hover {
  cursor: pointer; 
}

.chat-box-trigger-emoji-list-button:focus {
  outline: none; 
}

.input_field {
  position: relative; 
}

.emoji-category {
  border: none; 
  background: transparent; 
  font-size: 1.25rem; 
  color: white; 
  padding-top: 0.35rem; 
  padding-bottom: 0.35rem; 
}

.emoji-category:hover {
  border: none; 
  background: #e8f1f5; 
  color: black; 
  cursor: pointer; 
}

.emoji-category:focus {
  outline: none; 
  cursor: pointer; 
}

.emoji-category-banner {
  background: #005691; 
  text-align: center; 
}

.emoji-items-list {
  text-align: center; 
}

.giphy-search-bar {
  display: flex; 
  margin: 0 auto; 
  margin-top: 0.35rem; 
  margin-bottom: 0.35rem; 
  border: none; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem; 
  box-sizing: border-box; 
  background: #e8f1f5; 
  border-radius: 5px; 
  width: 90%; 
  font-size: 1rem; 
}

.giphy-search-bar:focus {
  outline: none; 
  background: #cee6f0; 
}

.chat-box-gif-menu {
  position: absolute; 
  width: 200px; 
  height: 200px; 
  overflow-y: scroll; 
  bottom: 55px; 
  right: 10px; 
  padding-bottom: 0.5rem; 
  background: #005691; 
  border-radius: 15px; 
}